<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="foi.hr.members">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".MembersActivity"
            android:label="@string/member_name"
            android:parentActivityName="foi.hr.firewatchapp.MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="foi.hr.firewatchapp.MainActivity" />

        </activity>

    </application>

</manifest>